/* ===== RESET ===== */
* {
  font-family: Elms Sans, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === EFEITO DE CHUVA E RELÂMPAGO === */
body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to bottom, #fcf9f9ff, #cdccccfd);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
/* ===== REMOVE SETAS DOS INPUTS NUMBER ===== */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* remove no Firefox */
}
/* ===== CONTEÚDO PRINCIPAL ===== */
#conteudo {
  position: relative;
  z-index: 10;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* ===== SENSOR (IMAGEM) ===== */
.sensor-image {
  position: fixed;
  bottom: -85px;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  max-width: 400px;
  min-width: 380px;
}

/* ===== INPUTS PRINCIPAIS ===== */
.inputs-container {
  position: fixed;
  bottom: 365px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

/* ===== BLOCO: SELEÇÃO DO SENSOR ===== */
.sensor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sensor-container label {
  position: fixed;
  bottom: 355px;
  font-family: arial;
  color: #6a6767ff;
  font-size: 12px;
}

.sensor-container select {
  appearance: none;
  background: linear-gradient(135deg, #707070ff, #0c0c0dff);
  color: white;
  border: 1px solid #666464ff;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

/* ===== BLOCO: FAIXA DO SENSOR ===== */
.faixa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #7375752b;
  border: 2px solid #8e8c8c4c;
  border-radius: 20px;
  padding: 10px;
  height: 80px;
  width: 215px;
  box-shadow: 0 0 8px rgba(116, 113, 113, 0.8);
  position: fixed;
  bottom: 225px;
  left: 50%;
  transform: translateX(-50%);
  color: #8c8989ff;
}

.faixa-container h3 {
  color: #848383fb;
  font-size: 12px;
  margin-bottom: 5px;
}

.inline-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.inline-inputs input {
  width: 80px;
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  background: linear-gradient(to bottom, #fbfafa54, #efededff);
  color: #5e5d5dff;
  border: 2px solid #7573735e;
  box-shadow: 0 0 8px rgba(177, 176, 176, 0.8);
  outline: 1px solid #c5c1c15e;
}

/* ===== BLOCO: RESISTÊNCIA E TEMPERATURA (INPUTS) ===== */
.resistencia-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* garante alinhamento uniforme pelo topo */
  gap: 40px;
  position: fixed;
  bottom: 145px; /* mantém na posição atual aproximada */
  left: 50%;
  transform: translateX(-50%);
}

.resistencia-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.resistencia-container h3 {
  font-family: Montserrat, sans-serif;
  color: #868484ff;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.resistencia-container input {
  width: 95px;
  height: 35px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  background: #e1d8d872; /* igual às outputs */
  border: 2px solid #c4c1c15e;
  outline: 1px solid #6564645e;
  color: #404040ff; /* texto branco */
  box-shadow: 0 0 8px rgba(107, 105, 105, 0.7);
  transition: all 0.2s ease-in-out;
}

.resistencia-container input:focus {
  background: #ffffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

/* ===== BLOCO: OUTPUTS ===== */
.output-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.output-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.output-container h3 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin: 0;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.output-container input {
  width: 100px;
  height: 35px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  background: #edebeb72;
  color: #0033ffff; /* verde para saída */
  border: 2px solid #c4c1c15e;
  outline: 1px solid #6564645e;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
}

.output-container input:focus {
  background: #fafafdfe;
  box-shadow: 0 0 12px rgba(34, 0, 255, 1);
}
.output-container select {
  position: relative;
  width: 95px;
  height: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 10px;
  outline: none;
  background-color: #22222236;
  color: white;
  transition: 0.3s;
}

.output-container select:hover {
  background-color: #5229f8ff;
}
/* ===== SAÍDA TEMPERATURA FIXA ===== */
.saida-temp-fixa {
  position: fixed;
  bottom: -55px;
  left: 51%;
  transform: translateX(-50%);
  width: 100px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  border: none;
  background: linear-gradient(to bottom, #01a6ffff, #5558f5ff);
  color: #fafafaff;
  box-shadow: 0 0 10px rgba(108, 108, 109, 1);
}
#tipoSensor {
  position: fixed;
  bottom: 310px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}
.controls {
  position: fixed;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn-minus,
.btn-plus {
  background: linear-gradient(135deg, #f6f6f6ff, #eaeaeaff);
  color: #757373ff;
  border: 2px solid #e0ddddff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(171, 169, 169, 0.8);
  width: 40px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
}

/* ===== BOTÕES ===== */
#btnCalcular,
#btnCalcularRes {
  position: relative;
  display: flex;
  bottom: 55px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #fbfbfbff, #ffffffff);
  color: #060606ff;
  font-size: 17px;
  border: 2px solid #d4d0d05e;
  border-radius: 25px;
  margin: 10px auto;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 120px;
  box-shadow: 0 0 10px rgba(212, 208, 208, 1);
}

#btnCalcular:hover,
#btnCalcularRes:hover {
  background: linear-gradient(135deg, #fcfbfbff, #ffffffff);
  box-shadow: 0 0 15px #dcdcdcff, 0 0 30px #a4a3a3ff;
  transform: scale(0.95);
}

/* ===== MODO ESCURO ===== */
body.dark-mode {
  background: linear-gradient(to bottom, #070707ff, #1b1332ff);
  color: #eaeaea;
}

body.dark-mode label,
body.dark-mode h3 {
  color: #fdfdfdff;
}

body.dark-mode input,
body.dark-mode select {
  background: #0e0e0eff;
  color: #f1f1f1;
  border: 2px solid #000000ff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

body.dark-mode #btnCalcular,
body.dark-mode #btnCalcularRes {
  background: linear-gradient(135deg, #222, #444);
  color: #ffffffff;
  border-color: #2f2d2dff;
  box-shadow: 0 0 15px rgba(9, 9, 9, 0.91);
}

body.dark-mode .sensor-image {
  content: url("Img/SensorDark.png"); /* troca o sensor no modo dark */
}

/* === SWITCH DARK/LIGHT === */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

/* Estrutura do switch */
.theme-switch {
  width: 60px;
  height: 30px;
  background: linear-gradient(145deg, #e2e2e2, #ffffff);
  border-radius: 30px;
  box-shadow: inset 3px 3px 6px #c9c9c9, inset -3px -3px 6px #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

/* Cor do fundo do switch no modo escuro */
body.dark-mode .theme-switch {
  background: linear-gradient(145deg, #1e1e1fff, #0d0d13ff);
  box-shadow: inset 3px 3px 6px #040404a5, inset -3px -3px 6px #333333;
}

/* Bolinha que desliza */
.switch-handle {
  width: 24px;
  height: 24px;
  background: linear-gradient(145deg, #0383f9ff, #e8e0e0ff);
  border-radius: 50%;
  position: absolute;
  left: 3px;
  transition: all 0.4s ease;
  box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.78);
}

/* Quando estiver no modo escuro, a bolinha vai pra direita e fica branca */
body.dark-mode .switch-handle {
  left: 33px;
  background: linear-gradient(145deg, #000364ff, #bf00ffff);
  box-shadow: 2px 2px 5px rgba(3, 2, 18, 0.89);
}
.theme-switch:active .switch-handle {
  transform: scale(0.9);
}
/* ===== RESPONSIVO ===== */
@media (max-width: 340px) {
  .inputs-container {
    bottom: 1px;
    width: 70vw;
    gap: 2px;
  }
  .resistencia-container input,
  .output-container input,
  .faixa-container input {
    width: 100px;
    font-size: 11px;
  }
}
body {
  transition: background-color 0.5s ease, color 0.5s ease, opacity 0.4s ease;
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}
